<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/imagens/whats_ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/geral.css">
    <link rel="stylesheet" href="/static/css/inicio.css">
    <title>Início</title>
</head>
<body>
    <header>
        {% if current_user.previlegio == 'Administrador' %}
        <h1>Chat</h1>
        <menu>
            <a href="inicio">Início</a>
            <a href="cadastro">Cadastrar novo usuario</a>
            <a href="listar_usuarios">Listar usuarios</a>
            <a href="painel">{{current_user.usuario}}</a>
            <a href="logout">Logout</a>
        </menu>

        {% else %}
        <h1>Chat</h1>
        <menu>
            <a href="inicio">Início</a>
            <a href="painel">{{current_user.usuario}}</a>
            <a href="logout">Logout</a>
        </menu>

        {% endif%}
        
    </header>
    <hr class="horizontal">
    <main>
        <section id="conversas">
            <h1>Conversas</h1>
            
            {% for cliente in clientes %}

            <p class="mensagens" onclick="conversa()"><strong>{{cliente.nome}} </strong><br>
                {{cliente.mensagem[-1]}}
                
            </p>

            {%endfor%}
        </section>
            <hr>
        <section id="cliente">
            <div>
                <h1>janela principal de conversa</h1>
               <div id="teste">

               </div>
            
            </div>
            

        </section>
    </main>

    <script>
        function conversa(user){
            console.log(user)
        }

    </script>
</body>
</html>