<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/imagens/whats_ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/geral.css">
    <link rel="stylesheet" href="/static/css/inicio.css">
    <title>Início</title>
</head>
<body>
    <header>
        {% if current_user.previlegio == 'Administrador' %}
        <h1>Chat</h1>
        <menu>
            <a href="inicio">Início</a>
            <a href="cadastro">Cadastrar novo usuario</a>
            <a href="listar_usuarios">Listar usuarios</a>
            <a href="painel">{{current_user.usuario}}</a>
            <a href="logout">Logout</a>
        </menu>

        {% else %}
        <h1>Chat</h1>
        <menu>
            <a href="inicio">Início</a>
            <a href="painel">{{current_user.usuario}}</a>
            <a href="logout">Logout</a>
        </menu>

        {% endif%}
        
    </header>
    <hr class="horizontal">
    <main>
        <section id="conversas">
            <h1>Conversas</h1>
            
            {% for mensagem in mensagem %}

            <p class="mensagens"><strong>{{mensagem.nome}} </strong> <br>
                {{mensagem.mensagem[-1]}}
            </p>

            {%endfor%}
        </section>
            <hr>
        <section id="cliente">
            <div>
                <strong><h3>{{mensagem[2]['nome']}}</h3></strong>

                {% for mensagem in mensagem[2]['mensagem'] %}

                <p>{{mensagem}}</p>
                
                {%endfor%}
            
            </div>
            

        </section>
    </main>
</body>
</html>